{
  "extends": ["stylelint-config-standard", "stylelint-config-tailwindcss"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["view-transition"]
      }
    ],
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["line-clamp", "background-clip"]
      }
    ],
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "comment-empty-line-before": null,
    "keyframes-name-pattern": null,
    "color-function-alias-notation": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "no-duplicate-selectors": null,
    "selector-class-pattern": null,
    "font-family-name-quotes": null,
    "color-hex-length": null
  }
}
